@use "../custom" as *;
@use "../components/mixins";

.footer {
  padding-top: 4rem;
  background-color: #222222;
  .contact-box {
    position: relative;

    &__icon {
      width: 2rem;
      stroke: $primary;
      fill: #222222;
      padding-top: 0.2rem;

      @include media-breakpoint-up(sm) {
        width: 4rem;
      }
    }
    &__info {
      padding: 0.4rem;
      font-weight: 400;

      &--title {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        @include media-breakpoint-up(sm) {
          font-size: 1.2rem;
        }
      }

      &--subtitle {
        color: $gray-600;
        text-decoration: none;
        font-size: 0.8rem;
        @include media-breakpoint-up(sm) {
          font-size: 1rem;
        }
      }
    }
  }

  .footer-medsos {
    background-color: #434242;

    a {
      color: white;
      text-decoration: none;

      i {
        font-size: 1rem;
        margin-right: 1rem;
        @include media-breakpoint-up(sm) {
          font-size: 1.4rem;
        }
      }
    }
  }
}
.company-list {
  p {
    color: $gray-600;
  }
  li {
    margin-bottom: 0.5rem;
    a {
      text-decoration: none;
      color: $gray-600;
      &:hover {
        color: $primary;
      }
    }
  }
}

.footer-box-end {
  background-color: #111111;
  position: relative;
}
.footer-end {
  p {
    span {
      color: $primary;
    }
  }
}
